html, body, #redux-demo-application {
  height: 100%;
}

.fill-horizontal {
  width: 100%;
}

.fill-vertical {
  height: 100%;
}

.flex-container {
  display: flex;
}

.center-vertical {
  align-items: center;
}

.center-horizontal {
  justify-content: center;
}

.align-vertical {
  flex-direction: column;
}
